## James math test score

In [36]:
score_list = [78, 90, 67, 52, 84]

In [38]:
print(score_list)

[78, 90, 67, 52, 84]

In [113]:
score_list.sort()

In [115]:
sorted(score_list)

[52, 67, 78, 84, 90]

In [117]:
max(score_list)

90

In [119]:
min(score_list)

52

In [40]:
type(score_list)

list

In [42]:
y=len(score_list)

In [44]:
x= sum(score_list)

In [46]:
print(score_list[1]) #the highest on the list

90

In [48]:
print(score_list[3])

52

In [49]:
print(x/y) #average  of the score

74.2

In [50]:
longer_text="""
Jame's best score is 90,
and his lowest score is 52.
His average score is 74.2."""

In [51]:
print(longer_text)

Jame's best score is 90,
and his lowest score is 52.
His average score is 74.2.

## Aliced groceries list

In [53]:
groceries_list=[1200, 1000, 450, 780, 870, 1100, 1500]

In [54]:
print(groceries_list[5]) #the most expensive

1100

In [55]:
print(groceries_list[2]) #the least expensive

450

In [56]:
groceries_list_slide= "1200, 1000, 450, 780, 870, 1100, 1500"

In [57]:
groceries_list_slide[-1:]

'0'

In [58]:
groceries_list.sort()

In [59]:
sorted(groceries_list)

[450, 780, 870, 1000, 1100, 1200, 1500]

In [121]:
max(groceries_list)

1500

In [123]:
min(groceries_list)

450

In [60]:
groceries_list[4:]

[1100, 1200, 1500]

In [153]:
sorted(groceries_list)[4:]

[1100, 1200, 1500]

## UNCLE JOE VACATION LIST

In [156]:
#joe list
packing_list = ["clothes", "shoes", "toiletries", "snack", "ticket"]

In [158]:
# uncle joe did not want snacks anymore
packing_list.remove("snack")

In [160]:
# uncle joe want sunglasses to be added to the list
packing_list.insert(0, "sunglassses")

In [162]:
print(packing_list)

['sunglassses', 'clothes', 'shoes', 'toiletries', 'ticket']

# Student detail

In [165]:
# store student name in a tuple
allen= ("Allen James", 17, "Mechanical engineering", 4.0)

In [167]:
name = allen[0] #student's name

In [148]:
print(name)

Allen James

In [142]:
department= allen[2] # student's department

In [150]:
print(department)

Mechanical engineering

In [144]:
allen[0:3:2]

('Allen James', 'Mechanical engineering')

In [146]:
allen.replace(-1, 3.8) #the error is because a tuple object cannot be replace. 
it cannot be modified since its not mutable

SyntaxError: invalid syntax (2102821283.py, line 2)

In [80]:
#the data type used to store are CGPA is tuple, 
it is not an integer because it is included with other tuple variable with comma.

SyntaxError: invalid syntax (999388166.py, line 2)

In [169]:
my_list=[0,1,2,3,4]

In [171]:
my_list[::2]

[0, 2, 4]

In [173]:
a=[5,10,15,20,25]

In [175]:
print(a[:-2])

[5, 10, 15]

In [177]:
numbers=[100,200,300,400]

In [179]:
print([1:1])

SyntaxError: invalid syntax (1226710558.py, line 1)

In [ ]:
d=

In [181]:
val=int("5")
print(val)
except valueerror
print("bad output")

SyntaxError: invalid syntax (2942261144.py, line 3)

In [183]:
d={"a":1}
d["b"]=2
print(d)

{'a': 1, 'b': 2}

In [185]:
x=1,2,3

In [191]:
typ("x")

NameError: name 'typ' is not defined